// $fonts
$font-primary: 'Avenir', 'Nunito Sans', Helvetica, Arial, sans-serif;
$font-size-primary: 15px;
$font-size-secondary: 14px;

$logo-font-size: $font-size-primary;
$navbar-font-size: $font-size-primary;
$documents-name-font-size: 13px;

// widths and heights
$content-navbar-height: 78px;

$file-manager-navbar-height: 124px;

$button-logo-width: 158px;
$button-logo-mobile-width: 180px;
$button-sashimi-width: 42px;

$navbar-elements-left-margin: 18px;
$navbar-button-dropdown-width: 140px;

$view-type-buttons-width: 100.36px;

$searchbar-icons-width: 44px;
$searchbar-mobile-margin-left: 15px;
$searchbar-wrapper-mobile-width: calc(100% - #{$button-sashimi-width});
$searchbar-wrapper-480px-width: calc(100% - #{$button-sashimi-width} - #{$view-type-buttons-width}); 
$searchbar-wrapper-768px-width: calc(100% - #{$button-logo-width} - #{$view-type-buttons-width}); 

// colors
$grey-background: #F2F2F2;
$grey-border: #D5D5D5;
$grey-font: #95989A;
$green: #d3e2e2;
$orange: #f26422;

$navbar-background-color: $grey-background;
$navbar-border-color: $grey-border;
$documents-focus-color: $green;

// keyframes time
$user-input-keyframe-time: 0.5s;
