// $font 
$general-font: 'Avenir', Helvetica, Arial, sans-serif;

// navbar
$content-navbar-height: 71px;
$file-manager-navbar-height: 119px;
$left-margin-navbar-elements: 18px;
$button-logo-width: 150px;
$navbar-border-color: #D5D5D5;
$navbar-font-size: 15px;
