// $fonts
$font-primary: 'Avenir', Helvetica, Arial, sans-serif;
$font-size-primary: 15px;
$font-size-secondary: 14px;

$logo-font-size: $font-size-primary;
$navbar-font-size: $font-size-primary;
$documents-name-font-size: 13px;

// widths and heights
$content-navbar-height: 71px;
$file-manager-navbar-height: 122px;
$file-manager-navbar-height-mobile: 157px;

$button-logo-width: 158px;
$button-img-width: 35px;

$navbar-elements-left-margin: 18px;
$navbar-button-dropdown-width: 140px;

// colors
$grey-background: #F7F7F7;
$grey-border: #D5D5D5;
$grey-font: #95989A;
$green: #d3e2e2;
$orange: #ff8c00;

$navbar-background-color: $grey-background;
$navbar-border-color: $grey-border;
$documents-focus-color: $green;
