{
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "rules": {
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "no-unused-expressions": "off",
    "no-console": "off"
  }
}